[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.26"
django-crispy-forms = "==1.7.2"
pillow = "==5.2.0"
pytz = "==2018.5"

[dev-packages]

[requires]
python_version = "3.12"
